/*.width-optiuni{
    max-width: 290px;
}*/

@font-face {
    font-family: Toyota_Display_Bold;
    src: url("../fonts/Display Bold/ToyotaDisplay_Bd.ttf");
}

@font-face {
    font-family: Toyota_Display_Heavy;
    src: url("../fonts/Display Heavy/ToyotaDisplay_He.ttf");
}

@font-face {
    font-family: Toyota_Display_Regular;
    src: url("../fonts/Display Regular/ToyotaDisplay_Rg.ttf");
}

@font-face {
    font-family: Toyota_Text_Bold;
    src: url("../fonts/Text Bold/ToyotaText_Bold.ttf");
}

@font-face {
    font-family: Toyota_Text_Bold_Italic;
    src: url("../fonts/Text Bold Italic/ToyotaText_BdIt.ttf");
}

@font-face {
    font-family: Toyota_Text_Italic;
    src: url("../fonts/Text Italic/ToyotaText_It.ttf");
}

@font-face {
    font-family: Toyota_Text_Regular;
    src: url("../fonts/Text Regular/ToyotaText_Rg.ttf");
}

#header-img{
    width: 100%;
}

.input-container{
    padding: 0;
}

.beneficii-label{
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    margin: 14px 0px;
}

.beneficii-details{
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    margin: 20px 0px;
}

.models-label{
    margin: 30px 0;
}

body{
    font-family: Toyota_Text_Regular;
    text-align: justify;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
and (min-resolution:.001dpcm) {
    .slider {
        padding: 0 10px;
        margin: 10px 0px;
        -webkit-appearance: none;
        width: 100%;
        height: 7px!important;
        background: #d3d3d3;
        outline: none;
        opacity: 1;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
}

.slider {
    margin: 16px 0;
    -webkit-appearance: none;
    width: 100%;
    padding: 0;
    height: 25px;
    /*height: 7px;
    background: #d3d3d3;*/
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    background: #ff0000;
    cursor: pointer;
    border-radius: 100%;
}

.slider::-moz-focus-outer {
    border: 0;
}

.slider::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    background: #ff0000;
    cursor: pointer;
    border: 0;
    border-radius: 100%;
}

.slider::-moz-range-track {
    height: 7px;
    background: #d3d3d3;
}

.beneficii-img{
    display: inherit;
    margin: auto;
}

.beneficii-container{
    margin-top: -50px;
    background-color: #1fb4e1;
    padding: 10px 10px;
}

.card-car-img{
    width: 100%;
    max-width: 250px;
    margin: 16px auto;
    display: block;
}

.card-big{
    margin: 15px 0px;
}

.sus-btn{
    background-color: #1fb4e1;
    position: fixed;
    bottom: 0;
    right: 20px;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.card-masina{
    /*box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.42);*/
    padding: 0px 20px;
}

.overlay {
    display: none;
    /*position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;*/
}

.overlay-contents{
    text-align: left;
    font-size: 12px;
    margin: 0px 15px 0px -20px;
    box-shadow: 1px 4px 10px -3px rgba(0,0,0,0.42);
    background-color: white;
    position: absolute;
    z-index: 2;
    padding: 0px 20px;
}

@media(max-width: 767px){
    .beneficii-container{
        margin-top: 0;
        background-color: #1fb4e1;
        padding: 20px 20px;
    }
    .beneficii-img{
        display: block;
        /*max-width: 167px;*/
        max-height: 126px;
        width: auto;
        height: auto;
    }
    div.beneficii-container > div.row > div {
        margin: 26px 0;
    }
}

@media print {
    #calculator{
        display: none;
    }
    #header{
        display: none;
    }
    .container-masina{
        display: block;
    }
    #valoare_ceva{
        display: none;
    }
    #print_btn{
        display: none;
    }
    #close_btn{
        display: none;
    }
    #masina_detalii{
        display: block;
    }
}

img#masina_poza{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div#masina{
    height: auto;
}

.btn-group{
    width: 100%;
}

.btn-group > button{
    width: 33.33%;
}

#calculator div{
    padding: 10px;
    background: #f4f4f4;
    color: red;
}

button, input[type=submit]{
    border-radius: 35px;
    background-color: #1fb4e1;
    border: 0px;
    color: white;
    text-align: center;
    padding: 10px 25px;

}

.btn-get-car-details{
    border-radius: 35px;
    background-color: transparent;
    border: 0px;
    color: #1fb4e1;
    text-align: center;
    padding: 10px 25px;
}

.icon-sd{
    font-size: 330%;
}

.btn-solicita{
    margin: 10px 0px;
}

.btn{
    border-radius: 0;
    border:1px solid white;
}

.form-inputs{
    margin: 5px 0px;
    width: 300px;
    border-radius: 35px;
    background-color: white;
    border: 0px solid gray;
    color: gray;
    text-align: left;
    padding: 10px 25px;
}

.dropdown{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../img/caret-down.svg') 96% / 3% no-repeat white;
}

select::-ms-expand {
    display: none;
}

#footer-btn{
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 20px;
    background-color: #1fb4e1;
    color: white;
    padding: 10px;
}

#modele{
    width: 95%;
    margin: auto;
}

a.btn-get-model{
    border-radius: 35px;
    padding: 7px 15px;
    border: 2px solid #000000a3;
    text-decoration: none;
    color: gray;
}

.icon-motor{
    background:url("../img/motor-icon.png") no-repeat 50% 50%;
    background-size: 17px 15px;
    display: inline-block;
    width: 17px;
    height: 15px;
    margin: 0 5px;
}

.icon-consum{
    background: url("../img/consum-icon.png") no-repeat 50% 50%;
    background-size: 15px 14px;
    display: inline-block;
    width: 15px;
    height: 14px;
    margin: 0 5px;
}

.icon-caroserie{
    background: url("../img/caroserie-icon.png") no-repeat 50% 50%;
    background-size: 17px 13px;
    display: inline-block;
    width: 17px;
    height: 13px;
    margin: 0 5px;
}

.icon-emisii{
    background: url("../img/emisii-icon.png") no-repeat 50% 50%;
    background-size: 14px 14px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
}

.car-img-container{
    height: 135px;
}

.car-model{
    text-align: center;
    font-family: Toyota_Text_Bold;
    font-size: 24pt;
    height: 115px;
}

button.btn-get-car-details, button.btn-get-car-details:focus ,select.form-inputs,input
{
    border: none;
    outline:none;
}


label{
    margin-left: 5px;
}

.tx-c{
    text-align: center;
    vertical-align: middle;
}

.title-generic{
    font-size: 30px;
    font-family: Toyota_Text_Bold;
    color: #1fb4e1;
    text-transform: uppercase;
    text-align: left;
}

@media (min-width: 992px){

    #beneficii{
        width: 95%;
        margin: auto;
    }


}

@media (max-width: 767px){
    .sol-of {
        margin-top: 15px;
    }

}


.form-container{
    background-color: #f0f0f0;
    margin-bottom: 46px;
}

.disclaimer{
    margin-top: 55px;
}

.disclaimer-content{
    border-top: 1px solid #a6a6a6;
    padding-top: 20px;
    color: gray;
    font-size: 10px;
}

/*@media(max-width: 991px){
    #beneficii,#chr,#rav4,#aurists,#prius{
        display: none;
    }
}*/
.btn-solicita{
    display: none;
}
/*#footer-btn{
    display: none;
}*/

.video-props{
    width: 100%;
}

.slider-row{
    margin: 20px 0px;
}

.input-number{
    font-family: Toyota_Text_Bold;
    margin-left: 10px;
    padding: 2px 15px 2px 15px;
    font-size: 23pt;
    color: #1fb4e1;
    background-color: #ffffff;
    width: 100%;
    display: block;
    text-align: right;
}

.slider-container{
    padding: 0px 0px;
}

.details-container{
    padding: 5px 0px;
}

.no-margin{
    margin: 0;
}

.choose-model{
    margin: 5px 0px;
    width: 300px;
    border-radius: 35px;
    background-color: white;
    border: 2px solid #80808063 !important;
    color: gray;
    text-align: left;
    padding: 10px 25px;
}

.pret{
    margin:0px 10px;
    text-align: center;
    color: #1fb4e1;
    font-size: 25px;
}

.pret-container{
    font-size: 13px;
}

input[type=range]::-ms-tooltip {
    display: none;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 7px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #d3d3d3;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #d3d3d3;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 23px;
    width: 23px;
    border-radius: 100%;
    background: red;
}
input[type=range]:focus::-ms-fill-lower {
    background: #d3d3d3;
}
input[type=range]:focus::-ms-fill-upper {
    background: #d3d3d3;
}

.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
    border: 0;
}

#input-pret-show::-webkit-inner-spin-button,#input-pret-show::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
#input-pret-show{
    padding-right: 35px;
    background: url('../img/euro-currency-symbol.svg') 98% / 26px no-repeat white;
    -moz-appearance:textfield;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    background: #d3d3d3;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background: red;
    margin-top: -8px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #d3d3d3;
}

#rata, #credit, #dobanda, #comision, #dae, #total{
    white-space: nowrap;
    width: 96px;
    overflow: hidden;
    text-overflow: ellipsis;
}